.contact_main {
    background-color: rgb(16, 16, 16);
}
.inputs_contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    gap: 30px;
    margin-top: 200px;
}