@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
 
  .h1 {
      @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
      @apply text-[36px] xl:text-[50px] leading-[1.1] font-semibold;
  }
  .h3 {
      @apply text-[25px] xl:text-[25px] leading-[1.1] font-semibold;
  }
}
 
body {
  background: rgb(11, 11, 11) ; /* Dark grey background */
  color: #ffffff; /* White text */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /*transition-property: opacity, transform,  filter;
  
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;*/
  font-family: futura;
}

.page_transition {
  /*opacity: 0;
  background: black;
  transform: translateY(40px);
  filter: blur(12px);*/
 }
 .border-05 {
  border-width: 0.5px;
}

