 /*
.child_menu {
  display: flex;
  font-size: 25px;
  padding: 13px;
  text-decoration: none;
}
 
.navbar_links{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 22px;
    
}
  
 

.navbar_links:hover  {
  font-size: large;
  color: grey;
}*/